html, body {
  display: block;
  margin: 0;
  padding: 0;
  position: relative; }

.clear {
  clear: both; }

.headline {
  font: 400 14px "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 4px;
  padding: 30vh 0 10vh;
  text-transform: uppercase; }

.body {
  color: #212121;
  font: 400 14px "Roboto", sans-serif;
  letter-spacing: 0px;
  text-transform: none; }

.center {
  text-align: center; }

.panel {
  box-sizing: border-box;
  padding-bottom: 15vh;
  position: relative;
  min-height: 100vh;
  width: 100vw; }

.panel.black {
  background-color: #212121; }

.panel.white {
  background-color: white; }

.image-container {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: all-scroll;
  height: 100%;
  width: 100%; }
  .image-container .image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: none;
    height: 100%;
    position: absolute;
    width: 100%;
    -webkit-filter: grayscale(80%) contrast(130%);
    filter: grayscale(80%) contrast(130%); }
  .image-container .image-active {
    display: block; }
  .image-container .instructions {
    color: goldenrod;
    font-family: 'Roboto', sans-serif;
    font-size: 3vh;
    font-weight: 700;
    opacity: 1;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    transform: rotate(-90deg) translate(-100%, 25%);
    -webkit-transform-origin: left top;
    width: 100vh;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }

.yb360center {
  background-image: url("../images/yb360center.jpg"); }

.yb360l1 {
  background-image: url("../images/yb360l1.jpg"); }

.yb360l2 {
  background-image: url("../images/yb360l2.jpg"); }

.yb360l3 {
  background-image: url("../images/yb360l3.jpg"); }

.yb360l4 {
  background-image: url("../images/yb360l4.jpg"); }

.yb360l5 {
  background-image: url("../images/yb360l5.jpg"); }

.yb360l6 {
  background-image: url("../images/yb360l6.jpg"); }

.yb360r1 {
  background-image: url("../images/yb360r1.jpg"); }

.yb360r2 {
  background-image: url("../images/yb360r2.jpg"); }

.yb360r3 {
  background-image: url("../images/yb360r3.jpg"); }

.yb360r4 {
  background-image: url("../images/yb360r4.jpg"); }

.yb360r5 {
  background-image: url("../images/yb360r5.jpg"); }

.yb360r6 {
  background-image: url("../images/yb360r6.jpg"); }
