@mixin no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@mixin filter($gray, $con) {
  -webkit-filter: grayscale($gray) contrast($con);
  filter: grayscale($gray) contrast($con);
}

$gold: #DAA520;
$black: #212121;
$white: #ffffff;

$roboto: 400 14px 'Roboto', sans-serif;

html, body{
  display: block;
  margin: 0;
  padding: 0;
  position: relative;
}

.clear{
  clear: both;
}

.headline{
  font: $roboto;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 4px;
  padding: 30vh 0 10vh;
  text-transform: uppercase;
}
.body{
  color: $black;
  font: $roboto;
  letter-spacing: 0px;
  text-transform: none;
}
.center{
  text-align: center;
}

.panel{
  box-sizing: border-box;
  padding-bottom: 15vh;
  position: relative;
  min-height: 100vh;
  width: 100vw;
}
.panel.black{
  background-color: $black;
}
.panel.white{
  background-color: $white;
}